{% extends "maykin_common/api/index_base.html" %}
{%load i18n%}

{% block page_title %}
  {% trans "openvtb API" %}
{% endblock page_title %}

{% block page_subtitle %}
    {% blocktrans trimmed %}
        REPLACE ME OR FACE ETERNAL SHAME
    {% endblocktrans %}
{% endblock page_subtitle %}


{% block content_nl %}
<p>REPLACE ME OR FACE ETERNAL SHAME</p>
{% endblock content_nl %}

{% block content_en %}
<p>REPLACE ME OR FACE ETERNAL SHAME</p>
{% endblock content_en %}


{% block license_link %}
https://github.com/maykinmedia/open-vtb/blob/main/LICENSE.md
{% endblock %}
