{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}

{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{% trans "Startpunt" %} {{ settings.SITE_TITLE }}{% endblock page_subtitle %}

{% block content_nl %}
    <p>
        Platform Dienstverlening verlegt de grens voor Zaakgericht Werken en introduceert een aantal
        concepten die aanvullende functionaliteit geven binnen Platform Dienstverlening.
    </p>
    <p>
        Deze concepten zijn:
        <ul>
            <li>
                <b>Verzoeken</b>
                Een ontkoppeling tussen een applicatie en een zaakregister, waarin het verzoek de gegevens van de aanvraag
                (het verzoek) bevat. Op basis van dit verzoek kan een applicatie bepalen wat voor zaak dit moet worden.
            </li>
            <li>
                <b>Taken</b>
                Aanvullende vragen van de overheid aan de inwoner of ondernemer kunnen uitgezet worden als taken.
                Bijvoorbeeld voor het aanleveren van een document, of een uitstaande betaling.
                Een taak wordt typisch uitgezet door een afhandelcomponent en wordt typisch weergegeven in een mijn-omgeving.
            </li>
        </ul>
    </p>
{% endblock content_nl %}

{% block content_en %}
    <p>
        Platform Dienstverlening pushes the boundaries of case-oriented working and introduces several concepts that
        provide additional functionality within Platform Dienstverlening.
    </p>
    <p>
        These concepts are:
        <ul>
            <li>
                <b>Verzoeken (Requests)</b>
                A decoupling between an application and a case register, in which the request contains the
                details of the request. Based on this request, an application can determine what type of case it should be.
            </li>
            <li>
                <b>Taken (Tasks)</b>
                Additional questions from the government to the resident or business owner can be assigned as tasks.
                For example, for submitting a document or an outstanding payment.
                A task is typically assigned by a client-application and is typically displayed in a portal.
            </li>
        </ul>
    </p>


{% endblock content_en %}

{% block license_link %}https://github.com/maykinmedia/open-vtb/blob/main/LICENSE.md{% endblock %}

{% block api_links %}

    <a href="{% url 'index-verzoeken' %}" class="button"><i class="fas fa-file-alt" aria-hidden="true"></i> Verzoeken</a>
    <a href="{% url 'index-taken' %}" class="button"><i class="fas fa-file-alt" aria-hidden="true"></i> Taken</a>

{% endblock %}
