{% extends "admin/object_history.html" %}
{% load i18n admin_urls %}


{% block content %}
<div id="content-main">
    <div class="module">
        <table id="change-history">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Version' %}</th>
                    <th scope="col">{% trans 'Status' %}</th>
                    <th scope="col">{% trans 'Created at' %}</th>
                    <th scope="col">{% trans 'Modified at' %}</th>
                    <th scope="col">{% trans 'Published at' %}</th>
                    <th scope="col">{% trans 'Expired on' %}</th>
                    <th scope="col">{% trans 'Aanvraag Gegevens Schema' %}</th>
                    <th scope="col">{% trans 'Bijlage Typen List' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for version in object.ordered_versions %}
                <tr>
                    <td>{{ version.version }}</td>
                    <td>{{ version.get_status_display }}</td>
                    <td>{{ version.aangemaakt_op }}</td>
                    <td>{{ version.gewijzigd_op }}</td>
                    <td>{{ version.begin_geldigheid }}</td>
                    <td>{{ version.einde_geldigheid }}</td>
                    <td>{{ version.aanvraag_gegevens_schema }}</td>
                    <td>{{ version.bijlage_typen_list }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
